.container {
  display: flex;
  justify-content: space-between;
  gap: 32px 52px;
  align-items: start;
}

.item {
  gap: 18px 38px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px 108px 20px 32px;
  position: relative;
  border-radius: 8px;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.cardList {
  width: 100%;
  max-width: 820px;
  gap: 32px;
  display: grid;
}

.price {
  margin-left: auto;
  color: #2b6cb0;
  width: 100%;
  text-align: center;
  display: inline;
}

.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.containerSum {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px 32px;
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
}

.titleSum {
  margin-bottom: 12px;
}

.list {
  display: grid;
  row-gap: 12px;
}

.containerPrice {
  display: flex;
  column-gap: 52px;
}

@media (max-width: 720px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 520px) {
  .containerSum {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    background-color: white;
  }

  .container {
    flex-wrap: wrap;
    margin-bottom: 220px;
  }

  .item {
    padding: 20px;
  }
}
