.container {
  display: flex;
  align-items: center;
  gap: 52px;
  margin-bottom: 32px;
  justify-content: center;
}

.containerInfo {
  max-width: 500px;
  width: 100%;
}

.image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  margin: 0 auto;
}

@media (max-width: $large) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: $small) {
  .container {
    gap: 0;
  }

  .containerInfo {
    padding: 32px;
  }

  .containerButtons {
    display: flex !important;
    flex-direction: column;
    row-gap: 8px;
  }
}
